In [67]:
import pandas as pd
import numpy as np

In [68]:
def select_col(df):
    ball100 = []
    for col in df.columns:
        if 'score_100' in col:
            ball100.append(col)
    df = df[['education_org_type'] + ball100]
    return df

In [69]:
grades_only = ['ukrainian_score_100', 'history_score_100', 'math_score_100',
               'physics_score_100', 'chemistry_score_100', 'biology_score_100',
               'geography_score_100', 'english_score_100', 'french_score_100',
               'german_score_100', 'spanish_score_100']

# EIT

In [70]:
df_2019 = pd.read_csv('transformed_data/2019.csv', encoding='', low_memory=False, sep=',')
df_2019 = select_col(df_2019)

df_2020 = pd.read_csv('transformed_data/2020.csv', encoding='', low_memory=False, sep=',')
df_2020 = select_col(df_2020)

df_2021 = pd.read_csv('transformed_data/2021.csv', encoding='', low_memory=False, sep=',')
df_2021 = select_col(df_2021)

EIT = pd.concat([df_2019, df_2020, df_2021], ignore_index=True)

In [71]:
EIT[grades_only] = EIT[grades_only].replace(0, np.nan)
EIT['Median Score'] = EIT[grades_only].median(axis=1, skipna=True)

In [74]:
eit_by_education = EIT.groupby('education_org_type').agg(
    median_score=('Median Score', 'median'),
    count_of_students=('education_org_type', 'count')
).reset_index()
eit_by_education.rename(columns={
    'median_score': 'Median Score'
}, inplace=True)

eit_by_education = eit_by_education.sort_values('Median Score', ascending=False)
eit_by_education

,education_org_type,Median Score,count_of_students
11,колеж,171.00,111
3,гімназія,160.00,48310
8,колегіум,155.00,1918
22,спеціалізована школа,154.00,48056
12,ліцей,151.50,88865
9,колегіум/колеж,148.25,878
23,спеціалізована школа-інтернат,143.00,2265
14,навчально-виховний комплекс,141.50,78641
20,спеціальна загальноосвітня школа,139.50,454
13,навчально-виховне об'єднання,139.00,6355
4,загальноосвітня санаторна школа,138.00,1176
18,середня загальноосвітня школа,135.50,338586
21,спеціальна загальноосвітня школа-інтернат,128.50,207
7,заклад фахової передвищої освіти,126.00,46341
10,коледж,125.00,406
5,заклад вищої освіти,124.50,185117
19,середня загальноосвітня школа-інтернат,124.00,1378
0,вечірня (змінна) школа,123.75,1259
15,навчально-реабілітаційний центр,123.25,35
2,вище художнє професійно-технічне училище,116.50,1263
6,заклад професійної (професійно-технічної) освіти,113.00,48714
1,вище професійне училище,112.00,28616
24,центр професійно-технічної освіти,111.50,9027
25,центр професійної освіти,111.00,4479
17,професійно-технічне училище відповідного профілю,110.00,17343
16,професійний ліцей відповідного профілю,110.00,33440
26,центр підготовки і перепідготовки робітничих к...,108.00,672

# NMT

In [75]:
df_2022 = pd.read_csv('transformed_data/2022.csv', encoding='', low_memory=False, sep=',')
df_2022 = select_col(df_2022)

df_2023 = pd.read_csv('transformed_data/2023.csv', encoding='', low_memory=False, sep=',')
df_2023 = select_col(df_2023)

df_2024 = pd.read_csv('transformed_data/2024.csv', encoding='', low_memory=False, sep=',')
df_2024 = select_col(df_2024)

NMT = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

In [76]:
NMT[grades_only] = NMT[grades_only].replace(0, np.nan)
NMT['Median Score'] = NMT[grades_only].median(axis=1, skipna=True)

In [77]:
nmt_by_education = NMT.groupby('education_org_type').agg(
    median_score=('Median Score', 'median'),
    count_of_students=('education_org_type', 'count')
).reset_index()
nmt_by_education.rename(columns={
    'median_score': 'Median Score'
}, inplace=True)

nmt_by_education = nmt_by_education.sort_values('Median Score', ascending=False)
nmt_by_education

,education_org_type,Median Score,count_of_students
16,науковий ліцей,158.00,3329
4,гімназія,152.00,29250
22,спеціалізована школа,151.00,28903
9,колегіум/колеж,151.00,1173
13,навчально-виховне об'єднання,147.00,1775
14,навчально-виховний комплекс,147.00,26633
10,ліцей,145.50,266357
12,мистецький ліцей,145.00,581
19,середня загальноосвітня школа,145.00,163693
18,професійний коледж (коледж) спортивного профілю,145.00,6
5,загальноосвітня санаторна школа,144.00,795
20,спеціальна загальноосвітня школа,142.00,224
17,початкова школа,142.00,64
3,"військовий (військово-морський, військово-спор...",141.00,644
21,спеціальна школа,140.00,155
23,спортивний ліцей,140.00,1178
15,навчально-реабілітаційний центр,140.00,25
1,вечірня (змінна) школа,140.00,235
8,заклад фахової передвищої освіти,140.00,102435
6,заклад вищої освіти,140.00,12036
2,вищий навчальний заклад III-IV рівнів акредитації,139.75,53
11,ліцей із посиленою військово-фізичною підготовкою,139.50,2398
7,заклад професійної (професійно-технічної) освіти,136.00,23083
0,Пенітенціарна установа,135.00,87